@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
body{
    margin: 0;
    padding: 0;
    overflow: auto;
}
.bigContainer{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-image: url(../ressources/pexels-photo-2411688.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
    font-family:'Poppins', sans-serif;
}
#pageTitle{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    & h1{
        color: white;
        background-color: #1E1F23;
        text-align: center;
        padding: 8px 16px;
    }
}
#pageIntro{
    box-sizing: border-box;
    width: 75%;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;

    & img{
        box-sizing: border-box;
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    & section{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 100px;
        
        & h2{
            padding: 16px;
            margin-top: -32px;
            color: white;
            background-color: #1E1F23;
            text-align: center;
            transform: rotate(-2.5deg);
            font-weight: 500;
        }
    
        & p:first-of-type{
            margin: 60px 0;
            text-align: center;
            font-weight: 600;
        }
    }
}
#pageContent{
    box-sizing: border-box;
    width: 75%;
    margin: 0 auto;
    background-color: #1E1F23;

    #shootSection{
        box-sizing: border-box;
        width: 80%;
        background-color: #111113;
        margin: 0 auto;

        & h2{
            color: white;
            text-align: center;
            font-weight: 600;
        }

        .line{
            width: 30%;
            border: 1px solid white;
            margin: 8px auto;
        }

        & p{
            margin: 24px 0;
            color: white;
            text-align: center;
            
        }
        .pictures{
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            & img{
                object-fit: cover;
                width: 50%;
                height: 350px;
            }
        }
    }

    #lastContent{
        box-sizing: border-box;       
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;

        & img{
            object-fit: cover;
            width: 50%;
            height: 450px;
        }

        & div{
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 60px;
            font-weight: 600;
        }

        & div:nth-child(2){
            color: black;
            background-color: white;
            width: 50%;
            text-align: center;
        }

        & div:nth-child(3){
            color: white;
            background-color: #1E1F23;
            width: 50%;
            text-align: center;
        }

        & div:nth-child(6){
            color: black;
            background-color: white;
            width: 50%;
            text-align: center;
        }
    }
}


#pageContact{
    text-align: center;
    height: 250px;
    margin: 0;
    
    & h3{
        margin: 8px 0;
        color: gray;
    }
    
    & i:nth-child(2){
        font-size: 50px;
        margin-right: 8px;
    }

    & i:nth-child(3){
        font-size: 70px;
        margin-right: 8px;
    }

    & i:nth-child(4){
        font-size: 70px;
    }
}